@import './index.scss';

.side_bar {
  margin: 32px;
  form {
    @extend %flex-central;
    input {
      width: 300px;
      padding: 14px;
      border-radius: 10px;
      border: 0;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $secondary-color;
      border: none;
      padding: 14px;
      border-radius: 10px;
      &:hover {
        background-color: $primary-color-light;
        cursor: pointer;
      }
      &:active {
        background-color: $primary-color;
      }
    }
  }

  .side_bar_locations {
    background-color: $secondary-color;
    margin-top: 16px;
    border-radius: 10px;
    h4 {
      margin-left: 16px;
    }
    p {
      margin-right: 16px;
    }
    .location {
      display: flex;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        background-color: $primary-color-light;
        border-radius: 10px;
      }
    }
  }

  .side_bar_history {
    .history {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
      border-radius: 10px;
      background-color: $secondary-color;
      h3 {
        margin-left: 16px;
      }
      p {
        margin-right: 16px;
      }
      &:hover {
        cursor: pointer;
        background-color: $primary-color-light;
      }
    }
  }
}
